// region Variables
$headline: 'Playfair Display', serif;
// endregion Variables

body {
    min-height: 100%;
    font-family: 'Droid Serif', serif;
    font-size: 14px;
    color: #2f2f2f;
    background-color: #f9f7f1;
    margin: 0;
    padding: 0;
}


/* Debug Bordering */
//.container * { border: 1px solid red; position: relative; }
//

// region Newspaper

.head {
    text-align: center;
    position: relative;

    h1 {
        font-family: $headline;
        font-weight: 900;
        font-size: 80px;
        text-transform: uppercase;
        display: inline-block;
        line-height: 72px;
        margin: 20px 0;
    }

    .sub-headline {
        text-align: center;
        padding: 3px 0;
        border: solid black;
        border-width: 2px 0;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-bottom: 10px;
    }

}

.row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .body {
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        align-items: flex-start;
    }

    .article {
        position: relative;
        flex-basis: 25%;
        box-sizing: border-box;
        padding: 0 20px 20px;
        overflow: hidden;

        &.column {
            &:before, &:after {
                content: "";
                position: absolute;
                top: 10px;
                bottom: 10px;
                width: 1px;
                background-color: #2f2f2f;
            }

            &:before {
                left: 10px;
            }

            &:after {
                right: 10px;
            }

        }

        figure {
            margin: 10px 0;
        }

        img {
            max-width: 100%;
            height: auto;
        }

        .headline {
            margin-bottom: 10px;
        }

        h2 {
            padding-top: 10px;
            position: relative;
            align-items: center;
            text-transform: uppercase;
            text-align: center;
        }

        .line {
            &:after {
                content: "";
                position: absolute;
                bottom: -0.3em;
                left: 0;
                right: 0;
                height: 1.5px;
                background-color: #2f2f2f;
                margin: auto;
                width: 65px;
            }
        }

        p.credit {

            text-align: center;

            .credit {
                font-weight: 700;
                font-size: 12px;
                box-sizing: border-box;
                padding: 10px 0 10px 0;
                text-align: center;
            }

            .credit:before {
                border-top: 1px solid #2f2f2f;
                content: "";
                width: 100px;
                height: 7px;
                display: block;
                margin: 0 auto;
            }

            .credit:after {
                border-bottom: 1px solid #2f2f2f;
                content: "";
                width: 100px;
                height: 10px;
                display: block;
                margin: 0 auto;

            }

        }

        .content {
            padding: 0 10%;
        }

        &.advert {
            position: relative;
            padding: 20px;

            h2 {
                margin-top: 0;
            }

            &:before {
                content: "";
                position: absolute;
                top: 10px;
                bottom: 10px;
                left: 10px;
                right: 10px;
                border: 5px double #000;
            }

        }



    }

}

.footer {
    text-align: center;
    padding: 3px 0;
    border: solid black;
    border-width: 2px 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 10px;
    grid-area: footer;
}

// endregion Newspaper

// region Responsive
@media screen and (max-width: 1000px) {
    .article {
        flex-basis: 50% !important;
    }
}

@media screen and (max-width: 550px) {

    .head {

        h1 {
            font-size: 50px;
            line-height: 54px;
            overflow: hidden;
        }

    }

    .article {
        flex-basis: 100% !important;
    }

}

@media only all and (max-width: 300px) {
    .head {

        h1 {
            font-size: 35px;
            line-height: 30px;
            overflow: hidden;
        }

    }
}

// endregion Responsive
