// region Variables
$headline: 'Playfair Display',  serif;
// endregion Variables

body {
    min-height: 100%;
    font-family: 'Droid Serif', serif;
    font-size: 14px;
    color: #2f2f2f;
    background-color: #f9f7f1;
    margin: 0;
    padding: 0;
}


/* Debug Bordering */
//.container * { border: 1px solid red; position: relative; }
//

// region Newspaper

.head {
    text-align: center;
    position: relative;

    h1 {
        font-family: $headline;
        font-weight: 900;
        font-size: 80px;
        text-transform: uppercase;
        display: inline-block;
        line-height: 72px;
        margin: 20px 0;
    }

    .sub-headline {
        text-align: center;
        padding: 3px 0;
        border: solid black;
        border-width: 2px 0;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-bottom: 10px;
    }

}

.column {
    &.column-outer-left, &.column-left {
        border-right: 1px solid #2f2f2f;
    }

    &.column-outer-right {
        border-left: 1px solid #2f2f2f;
    }

    .article {

        padding: 0 10px 10px;
        position: relative;
        margin-bottom: 10px;


        h2 {
            padding-top: 10px;
            position: relative;
            align-items: center;
            text-transform: uppercase;
            text-align: center;
            margin: 0 20% 20px;
        }

        .line {
            &:after {
                content: "";
                position: absolute;
                bottom: -0.3em;
                left: 0;
                right: 0;
                height: 1.5px;
                background-color: #2f2f2f;
                margin: auto;
                width: 65px;
            }
        }

        &:after {
            content: "";
            position: absolute;
            bottom: -0.3em;
            left: 0;
            right: 0;
            height: 1.5px;
            background-color: #2f2f2f;
            margin: auto;
            width: 90%;
        }

        p.credit {

            text-align: center;

            .credit{
                font-weight: 700;
                font-size: 12px;
                box-sizing: border-box;
                padding: 10px 0 10px 0;
                text-align: center;
            }
            .credit:before{
                border-top: 1px solid #2f2f2f;
                content: '';
                width: 100px;
                height: 7px;
                display: block;
                margin: 0 auto;
            }
            .credit:after{
                border-bottom: 1px solid #2f2f2f;
                content: '';
                width: 100px;
                height: 10px;
                display: block;
                margin: 0 auto;

            }
        }



    }

}

.footer {
    text-align: center;
    padding: 3px 0;
    border: solid black;
    border-width: 2px 0;
    text-transform: uppercase;
    letter-spacing: 1px;
}

// endregion

// region Layout

.container {
    display: grid;
    grid-template-columns: 0.6fr 1.9fr 0.5fr;
    grid-template-rows: 0.3fr 2.4fr 0.1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "head head head"
    "body body body";
}

.head {
    grid-area: head;
}

.body {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1.5fr  1.5fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
    "column-outer-left column-left column-right column-outer-right"
    "column-outer-left column-left column-right column-outer-right"
    "column-outer-left column-left column-right column-outer-right";
    grid-area: body;
}

.column-outer-left {
    grid-area: column-outer-left;
}

.column-outer-right {
    grid-area: column-outer-right;
}

.column-left {
    grid-area: column-left;
}

.column-right {
    grid-area: column-right;
}

.footer {
    margin-top: 10px;
    grid-area: footer;
}

// endregion Layout

// region Responsive
@media screen and (max-width: 1000px) {

    body {
        min-height: auto;
    }

    .body {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "column-outer-left column-left"
            "column-right column-outer-right";
    }

    .column-right {
        border-right: 1px solid #2f2f2f !important;
    }

    .column-left {
        border-right: none !important;
    }

    .column-outer-right {
        border-left: none !important;
    }

}

//@media only all and (max-width: 768px) {
//    .head {
//
//        h1 {
//            font-size: 60px;
//            line-height: 54px;
//            overflow: hidden;
//        }
//
//        .body {
//            grid-template-columns: 1fr;
//            grid-template-rows: repeat(3, 1fr);
//            grid-auto-flow: row;
//            grid-template-areas:
//            "column-left"
//            "column-right"
//            "column-outer-left"
//            "column-outer-right";
//
//            .column-left, .column-right {
//                border: none;
//            }
//
//            .column {
//                &:not(:last-child) {
//                    border-bottom: 1px solid #2f2f2f;
//                }
//            }
//
//        }
//
//    }
//}

@media screen and (max-width: 550px) {

    .head {

        h1 {
            font-size: 50px;
            line-height: 54px;
            overflow: hidden;
        }

    }

    .body {

        display: block;

        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "column-outer-left"
            "column-left"
            "column-right"
            "column-outer-right";
    }

    .column {
        border: none !important;
    }

}

@media only all and (max-width: 300px) {
    .head {

        h1 {
            font-size: 35px;
            line-height: 30px;
            overflow: hidden;
        }

    }
}

// endregion Responsive
