body {
    font-family: 'Droid Serif', serif;
    font-size: 14px;
    color: #2f2f2f;
    background-color: #f9f7f1;
}


/* Debug Bordering */
//.container * { border: 1px solid red; position: relative; }

.footer{
    border: 1px solid red;
}

// region Newspaper

.head {
    text-align: center;
    position: relative;

    h1 {
        font-family: 'Playfair Display', serif;
        font-weight: 900;
        font-size: 80px;
        text-transform: uppercase;
        display: inline-block;
        line-height: 72px;
        margin: 20px 0;
    }

    .sub-headline {
        text-align: center;
        padding: 3px 0;
        border: solid black;
        border-width: 2px 0;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-bottom: 10px;
    }

}

.column {
    &.column-left {
        border-right: 1px solid #2f2f2f;
    }

    &.column-right {
        border-left: 1px solid #2f2f2f;
    }

}

.footer {
    text-align: center;
    padding: 3px 0;
    border: solid black;
    border-width: 2px 0;
    text-transform: uppercase;
    letter-spacing: 1px;
}

// endregion

// region Layout

.container {
    display: grid;
    grid-template-columns: 0.6fr 1.9fr 0.5fr;
    grid-template-rows: 0.3fr 2.4fr 0.1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "head head head"
    "body body body"
    "footer footer footer";
}

.head {
    grid-area: head;
}

.body {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2.5fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "column-left column-center column-right"
    "column-left column-center column-right"
    "column-left column-center column-right";
    grid-area: body;
}

.column-left {
    grid-area: column-left;
}

.column-right {
    grid-area: column-right;
}

.column-center {
    grid-area: column-center;
}

.footer {
    margin-top: 10px;
    grid-area: footer;
}

// endregion Layout

// region Responsive

@media only screen and (max-width: 1000px) {

    .body {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-auto-flow: row;
        grid-template-areas:
    "column-left"
    "column-center"
    "column-right";

        .column-left, .column-right {
            border: none;
        }

        .column {
            &:not(:last-child) {
                border-bottom: 1px solid #2f2f2f;
            }
        }

    }
}

@media only all and (max-width: 600px) {
    .head {

        h1 {
            font-size: 60px;
            line-height: 54px;
            overflow: hidden;
        }

    }
}

@media only all and (max-width: 400px) {
    .head {

        h1 {
            font-size: 50px;
            line-height: 54px;
            overflow: hidden;
        }

    }
}

@media only all and (max-width: 300px) {
    .head {

        h1 {
            font-size: 35px;
            line-height: 30px;
            overflow: hidden;
        }

    }
}

// endregion Responsive
